
<style>

 

        #simpleLoading {
            margin: 0 auto ;
            line-height: 18px;
            font-size: 18px;
            /*font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;*/
font-family: Verdana, Geneva, sans-serif;
        }
        
        #simpleLoading div.animationLabel {
            display: block;
            float:left;

            
        }

        #simpleLoading div.animation {
            overflow: hidden;
            display: block;
            float:left;
            
            animation: dotdotdot 1.2s linear infinite;
        }

        @keyframes dotdotdot {
            0% {
                    width: 0;
            }
            100% {
                    width: 18px;
            }
        } 

</style>


    <div id="simpleLoading">
        <div class="animationLabel">Loading
        </div> 
        <div class="animation">...</div>
    </div>
